<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Emerson TV Channels</title>
        <meta name="description" content="A simple directory of Emerson College's TV channels.">
        <meta name="viewport" content="width=device-width">
        <meta property="og:image" content="apple-touch-icon.png"/>
        <script type="text/javascript" src="//use.typekit.net/ayh4jub.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="wrap">
            <header>
                <h1>Emerson TV Channels</h1>
            </header>

            <div class="wrap_inner">
                <table id="channels">
                <% @channels.each do |channel| %>
                    <tr>
                        <td><%= channel[0] %></td>
                        <td>
                            <%= channel[1] %>
                            <% if channel[2] %>
                                <div class="current_show"><%= channel[2][0] %> (<%= channel[2][1] %>)</div>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
                </table>
            </div>

            <footer>
                A project by <a href="http://ryancatalani.com">Ryan Catalani</a> &bull; <a href="http://twitter.com/magicofpi">@magicofpi</a>.
                <br/>TV show data from <a href="http://tvlistings.aol.com/listings/ma/boston/emerson-college/MA63993">AOL</a>. Source code on <a href="https://github.com/ryancatalani/emersontv">Github</a>.
            </footer>
        </div>

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-8855307-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>
